name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"
      - name: Test
        run: dotnet test source/dotnet-pr.tests --logger "GitHubActions;report-warnings=false"
      - name: Run tool in docker
        run: ./build.sh
